* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #B5C8CB;
}

header {
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
    color: #ffffff;
}

h1 {
    font-family: 'Bebas Neue', 'Helvetica', cursive;
    font-size: 52px;
    color: #fff;
    padding: 25px;
    text-align: left;
    float: left;
    }

.socials {
    width: 40px;
    position: fixed;
    top: 690px;
    left: 40px;
    right: auto; 
    transition: 0.3s;  
}

.socials a:hover {
    left: 0;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h2 {
    font-family: 'Bebas Neue', 'Helvetica', cursive;
    font-size: 48px;
    color: #455768;
    margin-bottom: 15px;
    text-align: left;
}

#h2-hero {
    font-family: 'Bebas Neue', 'Helvetica', cursive;
    font-size: 72px;
    margin-bottom: 50px;
    text-align: left;
}

h3 {
    text-align: left;
}

h3, figcaption {
    font-family: 'Bebas Neue', 'Helvetica', cursive;
    font-size: 24px;
    color: #7297A9;
    margin-bottom: 15px;
}

figcaption.gallery-caption {
    padding: 25px;
    position: absolute;
    background: #455768;
    border: none;
    bottom: 25px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #455768;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: left;
}

nav {
    padding: 35px;
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
nav ul li a:hover {
    background:transparent;
    border-bottom: 2px solid #ffffff;
  }

a:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url("../assets/galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media.jpg");
    background-size: cover;
    background-position: top;
    padding: 200px;
}

.about, .work, .contact {
    padding: 50px 200px 0px;
    width: 100%;
}

.headshot {
    width: 400px;
    margin: 25px;
    display: flex;
    float: right;
}

.headshot:hover {
    box-shadow: 20px 20px 0px 0px #455768;
    transition: 0.3s ease;
}

.icons {
    width: 50px;
    display: block;
}

.about-text {
    width: 50%;
}

.work-gallery {
    display: flex;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

div a img {
    opacity: .75;
    transition: .3s ease;
}

div a img:hover {
    opacity: 1;
}

.img-fill {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: top;
}

.portfolio-image-large {
    width: 100%;
    height: 500px;
    border: 2px solid #455768;
    position: relative;
    margin-bottom:10px;
}

.portfolio-image {
    width: 48%;
    height: 250px;
    position: relative;
    border: 2px solid #445768;
    margin-bottom: 10px;
}

.skill-list {
    list-style-type: none;
    display: inline;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #455768;
}

.skill-list li::before {
    content: "⇸ ";
    font-size: 24px;
    color:#455768;
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding: 150px;
    }

    .about, .work, .contact {
        flex-direction: column;
        display: flex;
    }

    .headshot {
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .about-text {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .work-gallery {
        position: relative;
        width: 100%;
        display: flex;
    }

    .portfolio-image {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    header {
        display: flex;
        background-image: url("../assets/galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media.jpg");
        background-size: cover;
    }

    h1 {
        padding: 10px;
    }

    nav {
        padding: 10px;
    }

    nav ul li {
        display: flex;
        margin: 0px;
        padding: 10px;
    }

    .hero {
        display: none;
    }

    .about, .work, .contact {
        padding: 50px;
    }

}